.footer__bottom {
  display: flex;
  border-top: 1px solid lightgrey;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.footer__bottom > p {
  padding: 5px;
}

.footer__info > h1 {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__info > p {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__info > p:hover {
  text-decoration: underline;
}

.footer__info {
  display: block;
  text-align: left;
  padding-left: 5%;
  width: 100%;
  font-size: small;
}

.footer__copyright {
  padding-top: 20px;
  border-top: 1px solid lightgrey;
  background-color: #f7f7f7;
  padding-bottom: 40px;
}

.footer__copyright > p {
  display: inline;
  padding-left: 6%;
}
