.headersearch {
  position: fixed;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
  z-index: 1;
  background-color: white;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  color: black;
  box-shadow: 0px 5px 16px -5px rgba(212, 212, 212, 0.75);
}

.headersearch__white {
  background-color: white;
  color: black;
  box-shadow: 0px 5px 16px -5px rgba(114, 114, 114, 0.75);
}

.headersearch__icon {
  object-fit: contain; /* Does not stretch */
  height: 100px;
  margin-top: -25px;
  margin-left: 5%;
}

.headersearch__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.headersearch__center > p:hover {
  text-decoration: underline;
}

.headersearch__center > input {
  border: none;
  width: 250px;
  padding: 10px;
  outline-width: 0;
}

.headersearch__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  margin-right: 8%;
}
